*{margin:auto; padding:0px;}
ul,li{ list-style: none;}
a{text-decoration: none;}

body{width:1000px; height:auto;}
header{width:100%; height: 150px; background: white;}

section{width:100%; height: 300px; background: white;}
#moon{font-size:20px;}
#ppap{font-size:30px; color:#f80759}


footer{width:100%; height: 100px; background: white;}